body {
  font-family: fieldwork, sans-serif;
  overflow-x: hidden;
  background: #e0e0e0;
}
.mt-10 {
  margin-top: 6rem !important;
}
.page-caption-container {
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  z-index: 1;
}
.btn-xl {
  padding: 1.25rem 2.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-primary.navy {
  background: #033d58;
  border-color: #033d58;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-primary.navy:active {
  background: #02293b;
  border-color: #02293b;
  color: #fff;
}
.btn-primary.navy:hover {
  background: #426e82;
  border-color: #426e82;
  color: #fff;
}
.btn-primary.white {
  background: #fff;
  border-color: #fff;
  color: #033d58;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-primary.white:active {
  background: #fff;
  border-color: #fff;
  color: #02293b;
}
.btn-primary.white:hover {
  background: #fff;
  border-color: #fff;
  color: #426e82;
}
.btn-primary.white.no-fill {
  background: transparent;
  color: #fff;
  border-color: #fff;
}
.btn-primary.white.no-fill:active {
  background: transparent;
  color: #fff;
  border-color: grey;
  background: hsla(0, 0%, 100%, 0.4);
}
.btn-primary.white.no-fill:hover {
  background: transparent;
  color: #fff;
  border-color: #ababab;
  background: rgba(2, 41, 59, 0.3);
}
.btn-primary,
.btn-primary:active,
.btn-primary:hover {
  background-color: inherit;
  border-color: #f9b508;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}
.btn-primary:active,
.btn-primary:hover {
  background-color: #f9b508;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary:hover {
  background-color: inherit;
  border-color: #808080;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}
.btn-secondary:active,
.btn-secondary:hover {
  background-color: #808080;
  color: #fff;
}
.card-header {
  padding: 0 !important;
}
.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media screen and (max-width: 992px) {
  body {
    background: #e0e0e0;
  }
  #carousel_container {
    display: none !important;
  }
  .page-caption-container {
    position: initial;
    left: initial;
    top: initial;
    transform: none;
  }
  #support_button {
    margin-bottom: 50px;
  }
}
.img-page {
  border: 1px solid #ccc;
}
.img-page-cn-productions {
  background: url("/assets/cn-productions-page-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.img-page-cn-solutions {
  background: url("/assets/cn-solutions-page-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.img-page-service-desk {
  background: url("/assets/service-desk-page-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.jumbotron {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#033d58), color-stop(50%, #22c5be), to(#91e2df));
  background: linear-gradient(90deg, #033d58, #22c5be 50%, #91e2df);
  min-height: 500px;
  max-height: 500px;
  overflow: hidden;
}
.jumbotron .display-1 {
  font-style: normal;
  font-weight: 800;
}
.jumbotron p.lead {
  font-weight: 400;
  font-size: 32px;
  max-width: 75%;
}
.jumbotron-particles {
  background: url(https://cdn.brandfolder.io/W49AM39J/as/pv3og1-744lcw-f69tfq/platform-particles.svg?max_age=604800);
  background-size: contain;
  background-repeat: repeat;
  width: 100%;
  height: 100%;
}
#jumbotron_image_container {
  top: -50px;
  position: absolute;
  width: 600px;
  height: 600px;
  margin-right: 100px;
  right: 0;
  background: url(https://cdn.brandfolder.io/W49AM39J/as/pv3nf3-4xyt28-8csfop/platform-circle-aqua.auto?height=600&max_age=604800%3Fwidth%3D600);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 999;
  overflow: hidden;
}
#jumbotron_image {
  position: absolute;
  z-index: 990;
  left: 10%;
  top: 10%;
  width: 80%;
}
#jumbotron_image img {
  border-radius: 50%;
  width: 100%;
}
.jumbotron-background-container {
  position: fixed;
  background-image: url("/assets/jumbotron-background.jpg");
  background-color: transparent;
  height: 500px;
  right: 0;
  margin-right: 100px;
  margin-top: -100px;
  width: 500px;
  background-position: center right;
  background-repeat: no-repeat;
}
p.lead-tagline {
  color: #0076b3;
  line-height: 1em;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
  font-style: normal;
}
p.lead-text {
  font-weight: 700;
  color: #033d58;
  margin: 0.3rem 0 1rem;
  line-height: 1.3;
  font-size: 42px;
}
.navbar-brand {
  max-height: 75px;
}
#site-header {
  width: 100%;
  background: #fff;
  box-sizing: border-box !important;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  will-change: transform;
  border-bottom: 1px solid #eee;
}
#questions_section {
  background: #ff7c66;
  color: #033d58 !important;
  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
}
#questions_section div[class*="col-"] {
  font-size: 34px;
  font-weight: 700;
  text-transform: capitalize;
}
@media (min-width: 992px) {
  #site-header {
    position: fixed;
    z-index: 9999;
  }
}
@media (max-width: 1540px) {
  #jumbotron_image_container {
    width: 400px;
    height: 400px;
  }
}
@media (max-width: 1325px) {
  #jumbotron_image_container {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 1262px) {
  .jumbotron {
    min-height: 300px;
    max-height: 300px;
  }
  .jumbotron .display-1 {
    font-size: 3em;
  }
  .jumbotron p.lead {
    font-size: 24px;
    max-width: 100%;
  }
}
@media (max-width: 1262px) {
  .jumbotron .display-1 {
    font-size: 2em;
  }
  .jumbotron p.lead {
    font-size: 22px;
    max-width: 90%;
  }
}
@media (max-width: 992px) {
  #jumbotron_image_container {
    display: none;
  }
}
@media (max-width: 945px) {
  .jumbotron {
    min-height: initial;
    max-height: initial;
  }
  .jumbotron .display-1 {
    font-size: 2em;
  }
  .jumbotron p.lead {
    font-size: 22px;
    max-width: 90%;
  }
}
@media (max-width: 873px) {
  .jumbotron {
    min-height: initial;
    max-height: initial;
  }
  .jumbotron .display-1 {
    font-size: 3em;
  }
  .jumbotron p.lead {
    font-size: 24px;
    max-width: 100%;
  }
  #jumbotron_image_container {
    display: none;
  }
  .mt-10 {
    margin-top: 3em !important;
  }
  div[class*="img-page-"] {
    height: 300px;
  }
}
.top-navigation {
  background: #033d58;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  align-items: center;
}
