.CNApp .img-page {
  border: 1px solid #ccc;
}
.CNApp .img-page-documentation {
  background: url("../assets/media/cn-documentation-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.CNApp .img-page-cn-production {
  background: url("../assets/media/cn-productions-page-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.CNApp .img-page-cn-solutions {
  background: url("../assets/media/cn-solutions-page-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.CNApp .img-page-service-desk {
  background: url("../assets/media/service-desk-page-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.CNApp .jumbotron {
  margin-bottom: 0;
}
