/* colors */
@active-nav:#ff8333;
@border-color: #043d58;
@border-color-dark: #043d58;
@container-background:  #fff9f4; //#ffeada;
@content-background: #fff;
@content-color: #240f00;
@dark-grey: #e0e0e0;
@error: #721c24;
@inactive-text-color: #454545;
@label-text-color: #7a7a7a;
@light-grey: #e0e0e0;
@success: #28a745;
@warning: #ff1200;
@warning-gold: #856404;

/* utility */
@border-width: 0.5px;
@margin: 20px;
@padding: 20px;
@padding-5: 5px;
@padding-10: 10px;
@padding-40: 40px;
@margin-10: 10px;